@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #3d0000;
  --color-secondary: #ff0000;
  --color-accent: #950101;
  --color-base-100: #fcfaee;
}

@plugin "daisyui/theme" {
  name: "dark";
  /* --color-primary: #7522c2;
  --color-secondary: #852ef4;
  --color-accent: #260a2e;
  --color-base-100: #1d0326; */
}
