@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #3d0000;
  --color-secondary: #950101;
  --color-accent: #111827;
  --color-base-100: #fcfaf2;
  --color-base-200: #fff7ed;
  --color-base-300: #fed7aa;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #3d0000;
  --color-secondary: #950101;
  --color-accent: #fcfaf2;
  --color-base-100: #080a0f;
  --color-base-200: #111827;
  --color-base-300: #293542;
}
